<header>
    <h1>William Dodson ~ Wild Deer | ITIS3135</h1>
    <p class="tagline"><em>Course home</em></p>
    <nav aria-label="Primary navigation">
        <a class="nav-link" href="index.html">Home</a>
        <a class="nav-link" href="introduction.html">Introduction</a>
        <a class="nav-link" href="contract.html">Contract</a>
        <a class="nav-link" href="about.html">About</a>
        <a class="nav-link" href="product.html">Product</a>
        <a class="nav-link" href="survey.html">Survey</a>
        <a class="nav-link" href="cards.html">Cards</a>
        <a class="nav-link" href="inventory.html">Inventory</a>
        <a class="nav-link" href="documentation.html">Documentation</a>
        <a class="nav-link" href="crap.html">CRAP</a>
        <a class="nav-link" href="images.html">Images</a>
        <a class="nav-link" href="introduction-form.html">Introduction Form</a>
        <a class="nav-link" href="../">Personal Home</a>
    </nav>
</header>

